*, *:before, *:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body {
    background-color: rgba(255,255,255,1);
    font: 16px/1.42857 "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #2981ca;
}
a:hover {
    text-decoration: underline;
    color: #a7c56d;
}

a.inverse, a.inverse:visited, a.inverse:active  {
    text-decoration: none;
    color: #96d3dd;
}
a.inverse:hover {
    text-decoration: underline;
    color: #cef188;
}

header {
    background-color: #373737;
    color: #fff;
    height: 160px;
    padding: 10px 50px;
}
header img, header h1 {
    display: inline;
}

nav {
    background-color: #eee;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    height: 56px;
}
nav ul li {
    float:left;
    margin-right:30px;
}

main {
    margin: 0 auto;
    width: 1170px;
    display: block;
}
article {
    float: left;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 74%;
    overflow: hidden;
}
section {
    background-color:#eee;
    border: 1px solid #ccc;
    padding: 20px;
}

aside {
    float: right;
    padding-left: 15px;
    width: 25%;
    display: block;
    overflow: hidden;
    position:relative;
}
menu {
    padding: 0;
}

footer {
    background-color: #373737;
    clear: both;
    color: #fff;
    padding: 50px 20px;
}
footer small a {
    color: #eff;
}