* {margin:0;padding:0;}
html, body {font-family:sans-serif;font-size:14px;}
h1, h2, h3, h4, h5, h6 {margin:10px 0 15px;font-variant:small-caps;}
table {border:none;border-collapse:collapse;}
table th, table td {border:none;border-collapse:collapse;}
.layout {padding:5px;}
.table th, .table td {border:1px solid #dddddd;padding:5px;}
.table thead td,
.table thead th {background:#f1f1f1; color:#111111;}

.text-top th,
.text-top td,
.text-top {vertical-align:top;}

.text-middle th,
.text-middle td {vertical-align:middle;}

.text-bottom th,
.text-bottom td {vertical-align:bottom;}

.text-left th,
.text-left td {text-align:left;}

.text-center th,
.text-center td {text-align:center;}

.text-right th,
.text-right td {text-align:right;}


.text-top {vertical-align:top !important;}
.text-middle {vertical-align:middle !important;}
.text-bottom {vertical-align:bottom !important;}
.text-left {text-align:left !important;}
.text-center {text-align:center !important;}
.text-right {text-align:right !important;}

.list li {margin-left:20px;}

.text-danger {color: red !important;}
.text-warning {color: orange !important;}
.text-success {color: green !important;}
.text-info {color: cyan !important;}

.nav-panel {display: block;height: 50px;border-bottom: 1px solid grey;}
.nav-panel a {display: block; margin: 5px; padding:10px; border: 1px solid grey; color: #cc0000; background: #f1f1f1;}
.nav-panel a:hover{color:black;background: #fdf1f1;}
.pull-right {float: right;}